<html>

  <head>
    <title> Magic 8 Ball </title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/styles.css' />
  </head>

  <body>

    <ol>
      <li><a href='/'> Home </a></li> 
      <li><a href='/add'> Add Answers </a></li>
      <li><a href='/reset'> Reset Answers </a></li>
      <li> </li>
    </ol>


    <%= yield %>

  </body>

</html>
